<div class="center">
  <p>Dear Developer, we would like to ask you to program a simple task for us. Purpose of this request is
    to test your problem-solving skills and the readability and maintainability of your solution.
    The solution can be in any language of your choice.
  </p>
  <p> 
    <strong>Task Description:</strong>
  </p>
  <p>
    Purpose of the software is to automate the child game “Fizz Buzz” for numbers 1 to 100. The
    outcome of the script would be the Fizz Buzz results.
  </p>
  <p>
    Fizz buzz is a group word game for children to teach them about division. Players take turns to count
    incrementally, replacing any number divisible by three with the word &quot;fizz&quot;, and any number divisible
    by five with the word &quot;buzz&quot;. For example:
  </p>
  <p>
    1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, Fizz Buzz, 16, 17, Fizz, 19, Buzz, Fizz, 22, 23,
    Fizz, Buzz, 26, Fizz, 28, 29, Fizz Buzz, 31, 32, Fizz, 34, Buzz, Fizz, ...
  </p>
  <p>
      Note: Players taking turns is not applicable. A simple for loop from 1 to 100 is sufficient.
  </p>
  <br/>
  <h1>FizzBuzz Game</h1>
  <p>{{fbg}}</p>
</div>